<div class="search">
    <input type="text" class="searchTerm" placeholder="recherche">
  </div>
<div id="modal-content-wrapper">
  <div class="wrap">
</div>
  <header id="modal-header">
       <h1 id="modal-title">Ajouter un collaborateur</h1>
  </header>
    <div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <label for="name">
          Nom
        </label>
        <input type="text" id="nom" class="form-control" name="nom" ngModel required>
	  </div>
	  <div class="form-group">
        <label for="name">
          Prenom
        </label>
        <input type="text" id="prenom" class="form-control" name="prenom" ngModel required>
      </div>
      <div class="form-group">
        <label for="email">
          Adresse mail
        </label>
        <input type="text" id="email" class="form-control" name="email" ngModel required>
      </div>
    <footer id="modal-footer">
        <button mat-raised-button id="modal-action-button" (click)="onSubmit()">Logout</button>
        <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">Go back</button>
	</footer>
	</form></div>
</div>