#logout-button {
    color: white;
    background-color: #4b4b4b;
    border: 1px solid black;
}

#buttonAddCollab {
	margin-top: 15%;
}

.app-collaborateurs {
    margin-top: 15%;
    font-family: 'Poppins Regular';
}
@font-face {
font-family: 'Poppins Regular';
font-style: normal;
font-weight: normal;
src: local('Poppins Regular'), url('src/assets/poppins-cufonfonts-webfont/Poppins-Regular.woff') format('woff');
}
