<head><meta meta charset="utf-8"></head>
<h2>Liste des collaborateurs</h2>
<div class="mat-elevation-z8 data-table">
	<mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

    <!-- Id Column -->
    <ng-container matColumnDef="nom">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nom</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.nom}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="prenom">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Prenom</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.prenom}}</mat-cell>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Adresse</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>